*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/src/main/java/com/sonssetiana/networkboundresouce/configs/Env.kt
.externalNativeBuild
.cxx
local.properties
